.line-graph-container {
  margin: auto;
  text-align: center;
}

.chart-form {
  text-align: left;
  max-width: 500px;
  margin: auto;
}

.chart-form .MuiFormControl-root {
  margin: 15px;
  display: inline-flex;
  vertical-align: middle;
}

.chart-box {
  display: inline-block;
  max-width: 500px;
  margin: auto;
}
